<!DOCTYPE web-app PUBLIC
 "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
 "http://java.sun.com/dtd/web-app_2_3.dtd" >

<web-app>
	<servlet>
		<servlet-name>joinMember</servlet-name>
		<display-name>joinMember</display-name>
		<description></description>
		<servlet-class>com.clearing.controller.joinMember</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>loginChk</servlet-name>
		<display-name>loginChk</display-name>
		<description></description>
		<servlet-class>com.clearing.controller.loginChk</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>logOut</servlet-name>
		<display-name>logOut</display-name>
		<description></description>
		<servlet-class>com.clearing.controller.logOut</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>myPageUpdate</servlet-name>
		<display-name>myPageUpdate</display-name>
		<description></description>
		<servlet-class>com.clearing.controller.myPageUpdate</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>TimeController</servlet-name>
		<display-name>TimeController</display-name>
		<description></description>
		<servlet-class>com.clearing.controller.TimeController</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>usingController</servlet-name>
		<display-name>usingController</display-name>
		<description></description>
		<servlet-class>com.clearing.controller.usingController</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>bookLaundryController</servlet-name>
		<display-name>bookLaundryController</display-name>
		<description></description>
		<servlet-class>com.clearing.controller.bookLaundryController</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>DateController</servlet-name>
		<display-name>DateController</display-name>
		<description></description>
		<servlet-class>com.clearing.controller.DateController</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>selectReservationDetails</servlet-name>
		<display-name>selectReservationDetails</display-name>
		<description></description>
		<servlet-class>com.clearing.controller.selectReservationDetails</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>reqBoardInsert</servlet-name>
		<display-name>reqBoardInsert</display-name>
		<description></description>
		<servlet-class>com.clearing.controller.reqBoardInsert</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>reqBoardUpdate</servlet-name>
		<display-name>reqBoardUpdate</display-name>
		<description></description>
		<servlet-class>com.clearing.controller.reqBoardUpdate</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>reqBoardUpdate</servlet-name>
		<url-pattern>/reqBoardUpdate</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>reqBoardInsert</servlet-name>
		<url-pattern>/reqBoardInsert</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>joinMember</servlet-name>
		<url-pattern>/joinMember</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>loginChk</servlet-name>
		<url-pattern>/loginChk</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>logOut</servlet-name>
		<url-pattern>/logOut</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>myPageUpdate</servlet-name>
		<url-pattern>/myPageUpdate</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>TimeController</servlet-name>
		<url-pattern>/TimeController</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>usingController</servlet-name>
		<url-pattern>/usingController</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>bookLaundryController</servlet-name>
		<url-pattern>/bookLaundryController</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>DateController</servlet-name>
		<url-pattern>/DateController</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>selectReservationDetails</servlet-name>
		<url-pattern>/selectReservationDetails</url-pattern>
	</servlet-mapping>

</web-app>
